* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    width: 100%;
}

#container {
    border: 0.5vw solid black;
    border-radius: 9px;
}

h1 {
    text-align: center;
}

#headBand, #chat, footer, #modal, #user {
    display: flex;
}

#headBand {
    justify-content: space-between;
    align-items: center;
}

#way {
    width: 70%;
    height: 70%;
}

#cats {
    width: 25%;
}

section, header {
    position: relative;
    width: 80%;
    margin: auto;
}

#chat, footer {
    justify-content: space-around;
    align-items: center;
}

button img {
    width: 3vw;
}

#dialog, #online {
    height: 50vh;
    border: 1px dashed black;
    margin: 1vh 0;
    overflow: hidden;
    overflow-scrolling: auto;
}

#dialog {
    width: 65%;
}

#online {
    width: 33%;
}

#userMessage {
    width: 95%;
}

#modal {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: 0.5vw solid black;
    border-radius: 9px;
    background-color: lightgray;
}

#user, #modal {
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px) {
    #user {
        flex-direction: column;
    }
}