* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    width: 100%;
}

section, header {
    position: relative;
    width: 80%;
    margin: auto;
}

h1 {
    text-align: center;
}

#way {
    width: 45%;
}

#cats {
    width: 15%;
}

#headBand, #chat, footer, #button {
    display: flex;
    align-items: center;
}

.connexion {
    width: 80%;
    margin: auto;
    background-color: lightgray;
}

form {
    height: 18vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#button {
    width: 100%;
    justify-content: space-around;
}

#frame {
    display: none;
}

#container, .connexion {
    border: 0.5vw solid black;
    border-radius: 9px;
}

#headBand, #chat, footer {
    justify-content: space-around;
}

#btnMessage img {
    width: 3vw;
}

#dialog {
    width: 95%;
    height: 42vh;
    border: 1px dashed black;
    margin: 1vh 0;
    overflow: hidden;
    overflow-scrolling: auto;
}

#online {
    width: 33%;
}

#userMessage {
    width: 95%;
}
